
#top {
    position: relative;
    background: rgba(255,255,255,0.5);
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background: rgba(255,255,255,0.7);
    background-color: #ffffff;
    color: black;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-shadow: 50; 
}

#left {
    float: left;
   
    background:  rgba(255,255,255,0.5);
/*background-color: #327dff;*/
/*    color: #ece3a5;*/
    padding: 5px;
    width: 350px;
    min-height: 480px;
    margin: 0px 0px 0px 0px;
}

#right {
    
    
        background: rgba(255,255,255,0.7);
        color: black;
    background-position: 40% 50%;
    background-size: 10em 10em;
    background-repeat: round round;
    background-clip: border-box;
    background-origin: border-box;
    background-attachment: fixed;
    background-image: url(chess.png)
    
/*    float: right;
    
    background-image:  url("https://31.media.tumblr.com/3e3054b3fd9aed599ddd605d1abad067/tumblr_inline_myugv8tsoz1s523bx.jpg")*/
/*    background-color: #ece3a5;*/
/*    padding: 5px;
    width: 150px;*/
}

.center_content {
    position: relative;
    background-color: rgba(255,255,255,0.7);;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    min-height: 480px;
}

.left_content {
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    margin-left: 170px;
    min-height: 480px;
    
/*    opacity: 33%*/
/*    ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";*/
}

.right_content {
   background-color: rgba(255,255,255,0.0);
    padding: 5px;
    margin: 15px 15px 0px 170px;
    min-height: 480px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#top p {
    color: #ff9933;
  font-weight : bold;
  text-decoration : underline;    
}
.red_alert {
    color: #ff9933;
    background-color: #ffffff;
    font-size: small;
    font-weight: bold;
    text-decoration: underline;
}
